* {
  margin: 0;
  padding: 0;
  
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.one {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: linear-gradient(rgb(0, 0, 128), rgb(98, 92, 137));
  /* transition: all linear 0.3s; */
  position: absolute;
  
}
.circleSize{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  background: rgb(213, 218, 213);
  position: absolute;
  visibility: hidden;
}
.inner_circle{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  /* border: 2px solid #000; */
  background: #000;
  position: absolute;
}